/.gradle/
/.idea/
/.gradle
.idea/workspace.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/checksums.lock
.idea/workspace.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/checksums.lock
/.idea/
/.gradle/
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/reply/cache-v2-013eedf05175c43bb4b8.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-b4b86ac893cc4c594c54.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-697bf777cb6957393701.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/reply/index-2024-06-21T01-22-08-0347.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.cmake/api/v1/reply/target-ffplayer-Debug-b528d806e81fb6fe81f3.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.ninja_deps
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/.ninja_log
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/android_gradle_build.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/android_gradle_build_mini.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/build.ninja
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/cmake_install.cmake
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeCache.txt
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/cmake.check_cache
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/CMakeOutput.log
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/ffplayer.dir/nativelib.cpp.o
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/rules.ninja
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/CMakeFiles/TargetDirectories.txt
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/compile_commands.json
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/compile_commands.json.bin
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/configure_fingerprint.bin
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/metadata_generation_command.txt
video/.cxx/Debug/3y3f2a5v/armeabi-v7a/prefab_config.json
video/.cxx/Debug/3y3f2a5v/hash_key.txt
video/.cxx/tools/debug/armeabi-v7a/compile_commands.json
*.json
nativelib/build/intermediates/cxx/abi_configuration_2d42g4g6.log
nativelib/build/intermediates/cxx/create_cxx_tasks_23_timing.txt
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/logs/x86/configure_command.bat
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/logs/x86/configure_stderr.txt
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/logs/x86/configure_stdout.txt
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/logs/x86/generate_cxx_metadata_23_timing.txt
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/meta/x86/additional_project_files.txt
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/meta/x86/build_file_index.txt
nativelib/build/intermediates/cxx/Debug/4ce3k1x4/meta/x86/symbol_folder_index.txt
nativelib/build/intermediates/cxx/ndk_locator_record_626ne35c.log
/.gradle/
/.idea/
/FFmplayer/.cxx/
.gradle/8.0/fileHashes/fileHashes.lock
/.gradle
