/.gradle/
/.idea/
/.gradle
.idea/workspace.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/checksums.lock
.idea/workspace.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/checksums.lock
